$BG: #282828;
$FG: #dfbf8e;
$BLACK: #665c54;
$ALTBLACK: #928374;
$WHITE: #dfbf8e;
$ALTWHITE: #dfbf8e;
$BLUE: #7daea3;
$RED: #ea6962;
$GREEN: #a9b665;
$MAGENTA: #d3869b;
$YELLOW: #e78a4e;
$CYAN: #89b482;
